@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-signed-light-blue: #B8CDF9;
  --color-signed-blue: #1868AC;
  --color-signed-dark-blue: #1D203E;
  --color-signed-darker-blue: #1D203E;
  --color-signed-darkest-blue: #051624;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Barlow, sans-serif;
}