.webcam-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.webcam-video {
    display: none;
}

.webcam-canvas {
    width: 100%;
    border-radius: 10px;
    transform: scaleX(-1);
}